<div class="container">
  <h1 class="my-3">Your Tasks</h1>
  <div class="row">
    <ul class="col-6" style="list-style-type: none;">
      <% @tasks.each do |task| %>
      <li>
      <%= link_to task.title, task_path(task), class: "text-decoration-none" %>
      <i>
        <%= link_to '',
          task_path(task),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "fa-regular fa-trash-can"
        %>
      </i>
      <% end %>
      </li>
    </ul>
    </div>
  <%= link_to "Add a new task", "/tasks/new" %>
</div>
